Repository danielgtaylor/python-betterproto, pull requests merged in 2020-07, with the labels that each got.

#88 🍏 Fix imports
  README.md
  betterproto/__init__.py
  betterproto/casing.py
  betterproto/compile/importing.py
  betterproto/compile/naming.py
  betterproto/lib/google/protobuf/__init__.py
  betterproto/plugin.py
  betterproto/tests/README.md
  betterproto/tests/inputs/bool/test_bool.py
  betterproto/tests/inputs/casing/casing.proto
  betterproto/tests/inputs/casing/test_casing.py
  betterproto/tests/inputs/casing_message_field_uppercase/casing_message_field_uppercase.json
  betterproto/tests/inputs/casing_message_field_uppercase/casing_message_field_uppercase.py
  betterproto/tests/inputs/config.py
  betterproto/tests/inputs/example/example.proto
  betterproto/tests/inputs/googletypes_response/test_googletypes_response.py
  betterproto/tests/inputs/googletypes_response_embedded/test_googletypes_response_embedded.py
  betterproto/tests/inputs/import_capitalized_package/capitalized.proto
  betterproto/tests/inputs/import_capitalized_package/test.proto
  betterproto/tests/inputs/import_circular_dependency/import_circular_dependency.proto
  betterproto/tests/inputs/import_cousin_package/cousin.proto
  betterproto/tests/inputs/import_cousin_package/test.proto
  betterproto/tests/inputs/import_cousin_package_same_name/cousin.proto
  betterproto/tests/inputs/import_cousin_package_same_name/test.proto
  betterproto/tests/inputs/import_root_package_from_child/child.proto
  betterproto/tests/inputs/import_root_package_from_child/import_root_package_from_child.proto
  betterproto/tests/inputs/import_service_input_message/test_import_service.py
  betterproto/tests/inputs/nested/nested.proto
  betterproto/tests/inputs/nested2/nested2.proto
  betterproto/tests/inputs/nested2/package.proto
  betterproto/tests/inputs/nestedtwice/nestedtwice.json
  betterproto/tests/inputs/nestedtwice/nestedtwice.proto
  betterproto/tests/inputs/oneof/test_oneof.py
  betterproto/tests/inputs/oneof_enum/test_oneof_enum.py
  betterproto/tests/inputs/ref/ref.proto
  betterproto/tests/test_casing.py
  betterproto/tests/test_get_ref_type.py
  betterproto/tests/test_inputs.py
  betterproto/tests/util.py
  poetry.lock
  pyproject.toml
Labels: bug, has test

#100 Import bug - Circular Dependencies
  betterproto/compile/importing.py
  betterproto/plugin.py
  betterproto/templates/template.py.j2
  betterproto/tests/inputs/config.py
  betterproto/tests/test_get_ref_type.py
Labels: bug, has test

#81 Set serialized_on_wire when message contains only lists
  betterproto/__init__.py
  betterproto/tests/test_features.py
Labels: bug, has test

#112 Updated readme with contribution section. More help welcome :smiley:
  CONTRIBUTING.md
  README.md
Labels: documentation

#103 Fix - No arguments are generated for stub methods when using `import` with proto definition
  CHANGELOG.md
  betterproto/plugin.py
  betterproto/tests/inputs/import_service_input_message/child_package_request_message.proto
  betterproto/tests/inputs/import_service_input_message/import_service_input_message.proto
  betterproto/tests/inputs/import_service_input_message/test_import_service.py
  betterproto/tests/inputs/import_service_input_message/test_import_service_input_message.py
Labels: bug, has test, medium

#102 Fix: to_dict returns wrong enum fields when numbering is not consecutive
  src/betterproto/__init__.py
  tests/inputs/config.py
  tests/inputs/enum/enum.json
  tests/inputs/enum/enum.proto
  tests/inputs/enum/test_enum.py
  tests/inputs/enums/enums.json
  tests/inputs/enums/enums.proto
Labels: bug, small

#114 Speed up poetry install
  .github/workflows/ci.yml
  README.md
Labels: enhancement
