Repository danielgtaylor/python-betterproto, pull requests merged in 2020-06, with the labels that each got.

#78 Basic general support for Google Protobuf
  README.md
  betterproto/__init__.py
  betterproto/compile/__init__.py
  betterproto/compile/importing.py
  betterproto/lib/__init__.py
  betterproto/lib/google/__init__.py
  betterproto/lib/google/protobuf.py
  betterproto/plugin.py
  betterproto/tests/__init__.py
  betterproto/tests/inputs/config.py
  betterproto/tests/inputs/googletypes/googletypes.json
  betterproto/tests/inputs/googletypes/googletypes.proto
  betterproto/tests/inputs/googletypes_response/test_googletypes_response.py
  betterproto/tests/inputs/googletypes_service_returns_googletype/googletypes_service_returns_googletype.proto
  betterproto/tests/inputs/googletypes_struct/googletypes_struct.json
  betterproto/tests/inputs/googletypes_struct/googletypes_struct.proto
  betterproto/tests/inputs/googletypes_value/googletypes_value.json
  betterproto/tests/inputs/googletypes_value/googletypes_value.proto
  betterproto/tests/mocks.py
  betterproto/tests/test_get_ref_type.py
  betterproto/tests/test_inputs.py
Labels: enhancement

#86 Add Slack invite link
  README.md
Labels: documentation

#90 fixed field types should be int
  betterproto/plugin.py
  betterproto/tests/inputs/fixed/fixed.json
  betterproto/tests/inputs/fixed/fixed.proto
Labels: bug, has test

#83 Client streaming
  .gitignore
  betterproto/__init__.py
  betterproto/_types.py
  betterproto/grpc/__init__.py
  betterproto/grpc/grpclib_client.py
  betterproto/grpc/util/__init__.py
  betterproto/grpc/util/async_channel.py
  betterproto/plugin.py
  betterproto/templates/template.py.j2
  betterproto/tests/generate.py
  betterproto/tests/grpc/__init__.py
  betterproto/tests/grpc/test_grpclib_client.py
  betterproto/tests/grpc/test_stream_stream.py
  betterproto/tests/grpc/thing_service.py
  betterproto/tests/inputs/googletypes_response/test_googletypes_response.py
  betterproto/tests/inputs/service/service.proto
  betterproto/tests/inputs/service/test_service.py
  betterproto/tests/test_inputs.py
  betterproto/tests/util.py
Labels: enhancement, has test
